<% @peeps.each do |peep| %>
  <ul>
    <li><%=peep.content%>
      <ul>
        <li>Posted on <%= "#{peep.time.strftime('%-d/%-m/%Y')}"%> at <%="#{peep.time.strftime('%H:%M')}"%></li> 
      </ul>
    </li>
  </ul>
<%end%>