<form action='/peeps/new' method='GET'>
  <input type='submit' value='New Peep'>
</form>

<% @peeps.each do |peep| %>
  <ul>
    <li><%=peep.content%>
      <ul>
        <li>Posted on <%= "#{peep.date}"%> at <%="#{peep.time}"%></li> 
      </ul>
    </li>
  </ul>
<%end%>