<% @peeps.each do |peep| %>
  <ul>
    <li>
      <b><%=peep.content%></b>
      <ul>
        <div class='time'>
        <li><em>Posted on <%= "#{peep.date}"%> at <%="#{peep.time}"%></em></li> 
        </div>
      </ul>
    </li>
  </ul>
<%end%>
