<h2><%= flash[:notice] if flash[:notice] %></h2>

<form action='/peeps' method='post'>
  <label for='content'></label>
  <div>
    <textarea style='resize: none;' maxlength='140' 
    id='content' name='content' rows=5 placeholder="Write your peep here!"></textarea>
  </div>
  <input type='submit' value='Peep!'>
</form>
