input[type="submit"] {
  color: royalblue;
  font-weight: bold;
  background-color: lightskyblue;
  border: none;
  padding: 14px 40px;
  font-size: 16px;
  border-radius: 8px;
}

input,
textarea {
  width: 40%;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin: 10px 0 10px 0;
  display: inline-block;
  border: none;
  background: powderblue;
  border-radius: 8px;
}

h1,
li,
textarea {
  color: royalblue;
  font-family: Helvetica;
  text-align: left;
  font-size: 16px;
}

.time li {
  list-style: none;
  margin-top: 5px;
  color: steelblue;
  font-size: 14px;
}

nav ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightskyblue;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: royalblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: royalblue;
  color: white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: royalblue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: royalblue;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: royalblue;
}
