<form action='/users' method='post'>
  <div>
    <input type='text' placeholder='Name' name='name' maxlength='15' required/>
  </div>
  <div>
    <input type='email' placeholder='Email' name='email' maxlength='60' required/>
  </div>
  <div>
   <input type='password' placeholder='Password' name='password' maxlength='140' required/>
  </div>
  <div>
    <input type='submit' value='Submit' />
  </div>
</form>